{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Account Activated" %}{% endblock %}

{% block content %}
<p>
    <div class="text-success text-center">
        <h1>{% trans "Your account is now activated." %} </h1>
    </div>
    {% if not user.is_authenticated %}
    <div class="text-primary text-center">
    <h3>{% trans "You can log in." %} </h3>
    </div>

    <div class="text-center">
    <br>
    <br>
    <button type="button" class="btn btn-lg btn-primary"><a style="color: white" href="{% url 'auth_login' %}"> Login </a></button>
    </div>


    {% endif %}
</p>
{% endblock %}


{% comment %}
**registration/activation_complete.html**

Used after successful account activation. This template has no context
variables of its own, and should simply inform the user that their
account is now active.
{% endcomment %}
