{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <h1 class="text-primary"> Register for free! </h1>
        <form method="post" action="">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-success btn-block" type="submit" value="{% trans 'Submit' %}" />
            <hr>
        </form>

        <p class="text-center">Need to login <a href="{% url 'auth_login' %}"><strong>Login</strong></a> </p>
    </div>
</div>
{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}
