{% extends 'base.html' %}

{% block jumbotron %}
<div class="container-fluid">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
          <div class="row">
              <div class="col-sm-8">
                  <h1>Try Django</h1>
                <p>This example is a quick example of Bootstrap & Django Framework to illustrate how the use for web development very quickly.</p>

                <p>
                    <a class="btn btn-lg btn-success" href="#" role="button">Join Us &raquo;</a>
                </p>
              </div>

              <div class="col-sm-4" style="background-color: white; height: 250px;">
                    <p> Image Here</p>
              </div>
          </div>
      </div>

    </div> <!-- /container -->
{% endblock %}